@font-face {
  font-family: Comication;
  src: url(../Comication.ttf);
}

@font-face {
  font-family: Slimfit;
  src: url(../slimfit_shadowed_demo.otf);
}

@font-face {
  font-family: SunshineShadow;
  src: url(../KGSummerSunshineShadow.ttf);
}

body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  /* background-image: radial-gradient(rgba(0, 183, 70, 0) 0.5px, #5ea9d4 0.5px);
  background-color: #e5e5f7;
  background-size: 10px 10px; */
  /* opacity: 0.8; */

  background-color: rgb(255, 255, 255);
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

canvas {
  border: 5px solid black;
  display: none;
  background-image: url(../img/fundo.png);
  backface-visibility: visible;
}

#start-screen {
  font-family: SunshineShadow;
  border: 5px solid black;
  width: 900px;
  height: 500px;
  background-image: url(../img/fundo.png);

  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

#start-screen-elements {
  width: 600px;
  height: 300px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

#start-screen-elements h1 {
  margin: 0;
}

#start-screen h1 {
  font-size: 70px;
  font-weight: 100;
  font-style: normal;
}

#start-btn {
  width: 180px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  background-color: white;
}

#play-again-btn {
  width: 180px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  background-color: white;
}

.invisible {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
}

footer p {
  margin: 10px;
  margin-right: 20px;
}

footer img {
  width: 20px;
  height: 20px;
}

#game-over {
  display: none;
  width: 400px;
  height: 260px;
  border-radius: 20px;
  /* border: 10px solid red; */
  position: absolute;
  font-family: SunshineShadow;
  font-size: 25px;
  font-weight: 100;
  font-style: normal;
  /* display: flex; */
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  /* background-image: url(./img/gameoverbackground.png); */
  background-color: rgba(255, 255, 255, 0.5);
}

#game-over h1 {
  margin: 10px;
}
