@font-face {
  font-family: Comication;
  src: url(../Comication.ttf);
}
body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 5px solid black;
  display: none;
  background-image: url(../img/fundo.png);
}

#start-screen {
  font-family: Comication;
  border: 5px solid black;
  width: 900px;
  height: 500px;
  background-image: url(../img/fundo.png);
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

#start-screen h1 {
  font-size: 90px;
  font-weight: 100;
  font-style: normal;
}

#start-btn {
  width: 180px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  background-color: white;
}

#play-again-btn {
  width: 180px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  background-color: white;
}

.invisible {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  align-items: center;
}

footer p {
  margin: 10px;
  margin-right: 20px;
}

footer img {
  width: 27px;
  height: 27px;
}

#game-over {
  display: none;
  width: 400px;
  height: 260px;
  border-radius: 20px;
  /* border: 10px solid red; */
  position: absolute;
  font-family: Comication;
  font-size: 40px;
  font-weight: 100;
  font-style: normal;
  /* display: flex; */
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(./img/gameoverbackground.png);
  background-color: white;
}

#game-over h1 {
  margin: 10px;
}
